
* @Author: answer-zf
* @Date:   2019-08-23 08:51:01
* @Last Modified by:   answer-zf
* @Last Modified time: 2019-09-22 15:08:02
* @E-mail: 657829956@qq.com
*/

/**
 * 样式清除
 */
a:hover {
    text-decoration: none;
}


/**
 *公共样式
 */
/*字体样式*/
@font-face{
  font-family: 'iFont'; 
  src: url('../font/titleFont.eot');
  src:url('../font/titleFont.woff') format('woff'),
      url('../font/titleFont.ttf') format('truetype'),
      url('../font/titleFont.svg') format('svg');
}
.ifont {
    font-family: 'iFont';
}
.h7 {
    font-size: 14px;
}
/*文本样式*/
.ls-1 {
    letter-spacing: 1px;
}
.ls-2 {
    letter-spacing: 2px;
}
.ls-4 {
    letter-spacing: 4px;
}
.lh-16 {
    line-height: 1.8rem;
}
.color-m {
    color: #c12a40;
}
.color-mM {
    color: rgba(10, 91, 86, .5);
}
.color-w {
    color: #fff !important;
}
.color-b {
    color: #666;
}
.color-p {
    color: rgb(243, 182, 186);
}
.color-b-d {
    color: #333;
}
.color-w-low {
    color: #f0f0f0 !important;
}

/*背景*/
.bg-m {
    background: #c12a40;
}
.bg-w {
    background: #fff;
}
.bg-pink {
    background: rgb(243, 182, 186);
}
.bg-f5 {
    background: #f5f5f5;
}
.bg-wP {
    background: url(../img/bg-w.png);
}
.bg-p {
    background: url(../img/i-oriBg.jpg);
}
.px-4_5 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-4_5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*线条*/
.line-40 {
    width: 40%;
    height: 3px;
    background: #c12a40;
}
.line-40m {
    width: 40%;
    height: 2px;
    background: #c12a40;
}
/*边框颜色*/
.bdc-m {
    border-color: #c12a40 !important;
}
.bdc-mM {
    border-color: rgba(10, 91, 86, .5) !important;
}
.bdc-w {
    border-color: #fff !important;
}
.bdc-d {
    border-color: #888 !important;
}
.border-none {
    border: none !important;
}

/*过度*/

.tran {
    transition: all 1s ease;
}

/*初始化*/

.inti-zf {
    top: 0;
    left: 0;
}

.article {
    line-height: 30px;
    letter-spacing: 2px;
}
/**
 * 首页
 */
.navbar-zf-m .navbar-toggler{
    /*box-shadow: 0px 0px 5px rgba(193,42,64,.5);*/
    border:1px solid rgba(193,42,64,.5);
}
.navbar-zf{
    padding-top:1.1rem;
    padding-bottom:1.1rem;
}


/**
 * banner 重新定义选项卡
 */
#banner{
    margin-top: 80px;
}
#banner .carousel-indicators{
    margin-left: 0;
    width: 36px;
    margin-right: 0;
    right: 0;
    left: unset;
    flex-direction: column;
    margin-bottom: 0;
    top: 50%;
    margin-top: -146px;
    margin-right: 4%;
    opacity: .8;
    /*background: #c12a40;    */
}
#banner .carousel-indicators li{
    text-indent: 0;
    width: 36px;
    height: 26px;
    opacity: 1;
    background: transparent; 
}
#banner .carousel-indicators li span{
    color:#fff;
    z-index:200;
    display: block;
    width: 36px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    opacity: .6;
    /*font-weight: 700;*/
}
#banner .carousel-indicators li .mask{
    width: 100%;
    height: 26px;
    background: #c12a40;
    opacity: .8;
    top:0;
    left:0;
    z-index:100;

}
#banner .carousel-indicators .active{
        opacity: 1;
}

#banner .carousel-indicators .active span{
    opacity: 1;

}
.part02{
    background: url(../img/part_02.png) no-repeat center center;
    padding:65px 15px 30px 15px;
}
.part02 .text{
    margin-top:25px;
}

.text .h5{
    font-family: 'iFont';
    /*font-weight:700;*/
    color: #444;
}
.text span{
    font-size:14px;
    display: block;
    color: #333;
    letter-spacing: 2px;    
}

/*part03*/

.part03{
    background: url(../img/part03_bg.jpg);
}
.part03 .line{
    width:10%;
    height:2px;
    background: #f0f0f0;
}

/*轮播插件*/
.solution{
    width: 100%;
    overflow: hidden;
}

.solution .swiper-wrapper .swiper-slide {
    box-shadow: 0 0 10px 0 rgba(38, 38, 38, .16);
    background: #fff;
    position: relative;
}

/*part04*/

.part04{
    background: url(../img/part04_bg.png) right top no-repeat;
}
.part06{
    background: url(../img/part06.png) center 15px no-repeat;
    padding-top:86px;
}
.part06 .text{
    width:40%;
}
.part06 .line{
    width:20%;
    height:2px;
    background: #c12a40;
}